{% extends 'appfamiliares/base.html' %}

{% block title %}
Detalle del familiar
{% endblock title %}

{% block content_title %} 
{{ titulo }}
{% endblock content_title %}

{% block content %}
<div class="p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="card">
        <div class="card-body">
            <h2>{{ familiar.nombre }}</h2>
            <p>Parentesco: {{ familiar.parentesco }}</p>
            <p>Fecha de Nacimiento: {{ familiar.fecha_nacimiento }}</p>
        </div>
    </div>
    <a href="/lista_familiares" class="btn btn-primary mt-3">Volver a la lista de Familiares</a>
</div>
{% endblock content %}