{% extends 'Main/base.html' %}

{% block title %}
App Familiares
{% endblock title %}

{% block content %}
<div class="px-4 py-5 my-5 text-center" bis_skin_checked="1"> 
    <h1 class="display-5 fw-bold text-body-emphasis">{{ titulo }}</h1>
    <div class="col-lg-6 mx-auto" bis_skin_checked="1">
        <p class="lead mb-4">{{ mensaje }}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" bis_skin_checked="1">
            <a href="{% url 'appfamiliares:lista_familiares' %}" class="btn btn-primary btn-lg px-4 gap-3">Ver listado de Familiares</a>
        </div>
    </div>
</div>
{% endblock content %}